html {
  color: rgba(0, 0, 0, 0.87);
  background-color: #FAFAFA;
  
  .welcome-card-wide {
    width: 100%;
    
    .mdl-textfield {
      width: 100%;
    }
    
    .mdl-card__title {
      color: #FFF;
      height: 200px;
      background: url("../images/cardbg.jpg") center / cover;
    }
    
    .mdl-card__menu {
      color: #FFF;
    }
  }
}